packages:
  yum:
    python27: []
    ImageMagick: []
    ImageMagick-devel: []
    dos2unix: []

option_settings:
  - namespace: aws:elasticbeanstalk:container:php:phpini
    option_name: document_root
    value: /web
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: HOME
    value: /root
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SUPERVISE
    value: false
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: APP_ENV
    value: production
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: APP_DEBUG
    value: true
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: APP_KEY
    value: base64:7Aq1PltNeJuh96/7lVjBpvtt67L46ZWfS9BURxPm9i8=