files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_make_storage_writable.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      chmod -R 777 /var/app/current/storage

      if [ ! -d /var/app/current/storage ]; then
          echo "Creating /public/storage symlink..."
          ln -s /var/app/current/storage/app/public /var/app/current/storage
      fi

commands:
  01updateComposer:
    command: /usr/bin/composer.phar self-update || true

container_commands:
  10installPackages:
    command: "cd /var/app/ondeck/; php /usr/bin/composer.phar install --no-dev"
  20optimizePackages:
    command: "cd /var/app/ondeck/; php /usr/bin/composer.phar dump-autoload -o"
