

commands:
  01updateComposer:
    command: /usr/bin/composer.phar self-update || true

container_commands:
  10installPackages:
    command: "cd /var/app/ondeck/; php /usr/bin/composer.phar install --no-dev"
  20optimizePackages:
    command: "cd /var/app/ondeck/; php /usr/bin/composer.phar dump-autoload -o"
